<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Reverte Bot - El bot resumidor que te habla de usted.</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
		<div id="newsletter">
			<div class="header">
				<a class="title" href="{{ url_for("newsletter") }}">
					<img src="/static/avatar.png">
					<h1>Reverte Bot</h1>
				</a>
				<div class="menu">
					<span class="user">Bienvenido {{ data.user.name }}!</span>
					<a class="logout" href="{{ url_for("logout") }}">Salir <i class="fa fa-sign-out"></i></a>
				</div>
			</div>
			<div class="topics">
				{% if topics %}
					<h3>Tags</h3>
					<ul class="topic-list">
					{% for topic in topics %}
						<a class="topic" href="{{ url_for("topic", tag=topic) }}">{{ topic }}</a>
					{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="links">
				{% if links %}
					{% for link in links %}
						<a class="link" href="{{ url_for("read", id=link.id) }}">
							<h3>{{ link.title }}</h3>
							<span>Published by <b>{{ link.author.name }}</b> in <b>{{ link.channel.name }}</b></span>
							{% if link.summary.get(0) %}<p>{{ link.summary.get(0) }}</p>{% endif %}
						</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</body>
</html>