<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Reverte Bot - El bot resumidor que te habla de usted.</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
		<div id="newsletter">
			<div class="header">
				<a class="title" href="{{ url_for("newsletter") }}">
					<img src="/static/avatar.png">
					<h1>Reverte Bot</h1>
				</a>
				<div class="menu">
					<span class="user">Bienvenido {{ data.user.name }}!</span>
					<a class="logout" href="{{ url_for("logout") }}">Salir <i class="fa fa-sign-out"></i></a>
				</div>
			</div>

			<section id="topic">
				<h2><i class="fa fa-tag" aria-hidden="true"></i> {{ topic }}</h2>
				{% if links %}
					{% for link in links %}
						<article class="link">
							<h4><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></h4>
							{% for sentence in link.summary %}
							<p>{{ sentence }}</p>
							{% endfor %}

							<ul class="tags">
								{% for keyword in link.keywords %}
									<li><a href="{{ url_for("topic", tag=keyword) }}">{{ keyword }}</a></li>
								{% endfor %}
							</ul>
						</article>
					{% endfor %}
				{% endif %}
			</section>
		</div>
	</body>
</html>