@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');

$dark: #263238;
$primary-color: #37474F;
$secundary-color: #455A64;
$accent-primary: #ef5350;
$accent-secondary: #ef9a9a;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $dark;
	color: white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.main {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 100vh;
	max-width: 1000px;

	display: flex;
	align-items: center;

	.face {
		display: inline-block;
		width: 40%;
		height: auto;
		padding: 20px 30px;
		max-width: 450px;
	}
	.info {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 20px 30px;
		h1 {margin: 10px 0 0;}
		h3 {
			margin: 5px 0 25px;
			color: #ddd;
		}
		p {
			margin: 30px 0 40px;
			font-size: 26px;
			font-family: 'Dancing Script', cursive;
			letter-spacing: 3px;
			line-height: 28px;
		}
		a {margin: 20px 0;}
	}

	.credits {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: auto;
		padding: 80px 0 0;
		text-align: center;
		font-size: 14px;
		color: #ccc;

		.hearth {
			color: red;
			font-size: 16px;
		}
	}
}

.header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
	padding: 10px 0;
	border-bottom: 1px solid $primary-color;
	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 auto;
		width: 90%;
		max-width: 1200px;
		.title {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			color: white;
			text-decoration: none;
			font-size: 20px;
			img {
				display: inline-block;
				vertical-align: top;
				height: 50px;
				margin: 0 10px 0 0;
			}

			h1 {
				display: inline-block;
				vertical-align: top;
				line-height: 50px;
    			font-size: 30px;
			}
		}

		.menu {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			line-height: 50px;
			.logout {
				display: inline-block;
				vertical-align: top;
				width: auto;
				height: 30px;
				padding: 0 10px;
				color: white;
				background: $accent-primary;
				border-radius: 4px;
				margin: 10px 0 10px 30px;
				line-height: 30px;
				text-decoration: none;
			}
		}
	}
}

.content {
	display: block;
    margin: 60px auto;
    width: 90%;
    max-width: 1200px;

	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

	.topics {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		min-width: 200px;
		margin-right: 20px;

		h3 {
			margin: 20px 0;
			color: $accent-primary;
		}

		.topic-list {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: auto;
			list-style: none;
			padding-right: 20px;
			border-right: 1px solid $primary-color;
			li {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: auto;
				a {
					display: inline-block;
					vertical-align: top;
					width: 100%;
					margin: 2px 0;
					padding: 5px 20px;
					text-decoration: none;
					text-transform: none;
					color: white;
					border-radius: 5px;
					transition: all .2s ease-in-out;
					&:hover, &:active {
						background: $accent-secondary;
						color: $dark;
					}
				}
			}
		}
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;

		.link {
			display: inline-block;
			vertical-align: top;
			width: 31%;
			margin: 10px 1%;
			background: #424242;
			padding: 20px 20px;
		}
	}
}
