@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Source+Serif+Pro');

$dark: #263238;
$primary-color: #37474F;
$secundary-color: #455A64;
$accent-primary: #FF4081;
$accent-secondary: #FF80AB;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $dark;
	color: white;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.main {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 100vh;
	max-width: 1000px;

	display: flex;
	align-items: center;

	.face {
		display: inline-block;
		width: 40%;
		height: auto;
		padding: 20px 30px;
		max-width: 450px;
	}
	.info {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 20px 30px;
		h1 {margin: 10px 0 0;}
		h3 {
			margin: 5px 0 25px;
			color: #ddd;
		}
		p {
			margin: 30px 0 40px;
			font-size: 26px;
			font-family: 'Dancing Script', cursive;
			letter-spacing: 3px;
			line-height: 28px;
		}
		a {margin: 20px 0;}
	}

	.credits {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: auto;
		padding: 80px 0 0;
		text-align: center;
		font-size: 14px;
		color: #ccc;

		.hearth {
			color: red;
			font-size: 16px;
		}
	}
}

.header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
	padding: 10px 0;
	border-bottom: 1px solid $primary-color;
	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 auto;
		width: 90%;
		max-width: 1200px;
		.title {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			color: white;
			text-decoration: none;
			font-size: 20px;
			img {
				display: inline-block;
				vertical-align: top;
				height: 50px;
				margin: 0 10px 0 0;
			}

			h1 {
				display: inline-block;
				vertical-align: top;
				line-height: 50px;
    			font-size: 30px;
			}
		}

		.menu {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			line-height: 50px;
			.logout {
				display: inline-block;
				vertical-align: top;
				width: auto;
				height: 30px;
				padding: 0 10px;
				color: white;
				background: $accent-primary;
				border-radius: 4px;
				margin: 10px 0 10px 30px;
				line-height: 30px;
				text-decoration: none;
			}
		}
	}
}

.expand-tags {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 60px auto 0;

	#toggleTags {
		display: inline-block;
		vertical-align: top;
		width: auto;
		height: auto;
		padding: 7px 20px;
		color: white;
		background: $accent-primary;
		border-radius: 4px;
		margin: 10px 0;
	}
}


.content {
	display: block;
    margin: auto 60px;
    width: 90%;
    max-width: 1200px;

	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

	.section-title {
		display: block;
		width: 100%;
		margin: 20px 0;
		color: $accent-primary;
		text-transform: capitalize;
	}

	.topics {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		min-width: 200px;
		margin-right: 20px;

		.topic-list {
			display: inline-block;
			vertical-align: top;
			position: relative;
			width: 100%;
			height: auto;
			list-style: none;
			padding-right: 20px;
			border-right: 1px solid $primary-color;
			max-height: 300px;
			overflow-y: auto;
			&::-webkit-scrollbar {display: none;}

			li {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: auto;
				a {
					display: inline-block;
					vertical-align: top;
					width: 100%;
					margin: 2px 0;
					padding: 5px 20px;
					text-decoration: none;
					text-transform: none;
					color: white;
					border-radius: 5px;
					transition: all .2s ease-in-out;
					&:hover, &:active {
						background: $accent-secondary;
						color: $dark;
					}
				}
			}
		}
		.disclaimer {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 15px;
			line-height: 15px;
			text-align: center;
			color: $accent-secondary;
			font-size: 12px;
			opacity: .6;
		}
	}

	.links {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;

		.link {
			display: inline-block;
			vertical-align: top;
			position: relative;
			width: 31%;
			height: auto;
			margin: 10px 1%;
			padding: 10px 20px 52px;
			border: 1px solid $primary-color;
			border-radius: 5px;
			background: $accent-secondary;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			color: black;
			text-decoration: none;

			&:hover {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}

			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;

			.title {
				font-size: 16px;
				margin: 10px 0 5px;
				padding: 5px 0;
				font-weight: 400;
			}
			.metadata {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				font-size: 12px;
				margin: 0;
				padding: 5px 0;
				color: $dark;
			}

			.author {
				display: inline-block;
				vertical-align: top;
				position: absolute;
				bottom: 10px;
				left: 15px;
				width: calc(100% - 30px);
				height: auto;
				line-height: 28px;
				font-size: 14px;
				.avatar {
					display: inline-block;
					vertical-align: top;
					width: 28px;
					border-radius: 50%;
					height: 28px;
					margin-right: 10px;
				}
			}
		}
	}

}
.read-link {
	display: inline-block;
	vertical-align: top;
	margin: 60px auto;
	width: 100%;
	max-width: 700px;
	font-family: 'Source Serif Pro', serif;
	color: white;

	.link-header {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 10px 0;
		margin-bottom: 10px;
		.link-title {
			margin-bottom: 30px;
			font-size: 30px;
		}

		.link-author,
		.link-tags {
			display: block;
			color: $accent-secondary;
			font-size: 18px;
		}
	}

	p {
		font-size: 18px;
		margin: 20px 0;
	}

	.link-footer {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		text-align: center;
		margin-top: 30px;

		.link-original {
			font-size: 16px;
			color: white;
			text-decoration: underline;
			text-transform: none;
			opacity: .8;
		}
	}
}

@media screen and (max-width: 1200px) {
	.content .links .link {width: 48%;}
}

@media screen and (max-width: 900px) {
	.content .topics {
		position: absolute;
		width: auto;
		max-width: 300px;
		padding: 10px 30px;
		overflow: hidden;
		z-index: 1;
		background: #263238;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
		opacity: 0;
		visibility: hidden;

		.topic-list {border: none;}

		&.showed {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media screen and (max-width: 768px) {
	.header .inner {
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;

		& > * {width: 100% !important;}
	}
}

@media screen and (max-width: 680px) {
	.content .links .link {width: 98%;}
}
