.header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
	padding: 10px 0;
	border-bottom: 1px solid $primary-color;
	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		margin: 0 auto;
		width: 90%;
		max-width: 1200px;
		.title {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			color: white;
			text-decoration: none;
			font-size: 20px;
			img {
				display: inline-block;
				vertical-align: top;
				height: 50px;
				margin: 0 10px 0 0;
			}

			h1 {
				display: inline-block;
				vertical-align: top;
				line-height: 50px;
    			font-size: 30px;
			}
		}

		.menu {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			line-height: 50px;
			.logout {
				display: inline-block;
				vertical-align: top;
				width: auto;
				height: 30px;
				padding: 0 10px;
				color: white;
				background: $accent-primary;
				border-radius: 4px;
				margin: 10px 0 10px 30px;
				line-height: 30px;
				text-decoration: none;
			}
		}
	}
}