.home {
	display: block;
	margin: 60px auto;
	width: 90%;
	max-width: 1200px;

	#toggleTags {
		display: none;
		vertical-align: top;
		width: auto;
		height: auto;
		padding: 7px 20px;
		color: white;
		background: $accent-primary;
		border-radius: 4px;
		margin: 10px 0;
	}

	.content {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;

		.section-title {
			display: block;
			width: 100%;
			margin: 20px 0;
			color: white;
			text-transform: capitalize;
			font-size:24px;
		}

		.topics {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			min-width: 200px;
			margin-right: 20px;
			transition: all .2s ease-in-out;

			.topic-list {
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 100%;
				height: auto;
				list-style: none;
				padding-right: 20px;
				border-right: 1px solid $primary-color;
				max-height: 300px;
				overflow-y: auto;

				&::-webkit-scrollbar {display: none;}

				li {
					display: inline-block;
					vertical-align: top;
					width: 100%;
					height: auto;
					a {
						display: inline-block;
						vertical-align: top;
						width: 100%;
						margin: 2px 0;
						padding: 5px 20px;
						text-decoration: none;
						text-transform: none;
						color: white;
						border-radius: 5px;
						transition: all .2s ease-in-out;
						&:hover, &:active {
							background: $accent-secondary;
							color: $dark;
						}
					}
				}
			}
			.disclaimer {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: 15px;
				line-height: 15px;
				text-align: center;
				color: $accent-secondary;
				font-size: 12px;
				opacity: .6;
			}
		}

		.links {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: stretch;

			.link {
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 31%;
				height: auto;
				margin: 10px 1%;
				padding: 10px 20px 52px;
				border: 1px solid $primary-color;
				border-radius: 5px;
				background: white;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
				color: black;
				text-decoration: none;

				&:hover {
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
				}

				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;

				.title {
					font-size: 16px;
					margin: 10px 0 5px;
					padding: 5px 0;
					font-weight: 400;
					color:$accent-primary;
				}
				.metadata {
					display: inline-block;
					vertical-align: top;
					width: 100%;
					font-size: 12px;
					margin: 0;
					padding: 5px 0;
					color: $dark;
				}

				.author {
					display: inline-block;
					vertical-align: top;
					position: absolute;
					bottom: 10px;
					left: 15px;
					width: calc(100% - 30px);
					height: auto;
					line-height: 28px;
					font-size: 14px;
					.avatar {
						display: inline-block;
						vertical-align: top;
						width: 28px;
						border-radius: 50%;
						height: 28px;
						margin-right: 10px;
					}
				}
			}
		}
	}
}