.main {
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 100vh;
	max-width: 1000px;

	display: flex;
	align-items: center;

	.face {
		display: inline-block;
		width: 40%;
		height: auto;
		padding: 20px 30px;
		max-width: 450px;
	}
	.info {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 20px 30px;
		h1 {margin: 10px 0 0;}
		h3 {
			margin: 5px 0 25px;
			color: #ddd;
		}
		p {
			margin: 30px 0 40px;
			font-size: 26px;
			font-family: 'Dancing Script', cursive;
			letter-spacing: 3px;
			line-height: 28px;
		}
		a {margin: 20px 0;}
	}

	.credits {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: auto;
		padding: 80px 0 0;
		text-align: center;
		font-size: 14px;
		color: #ccc;

		.hearth {
			color: red;
			font-size: 16px;
		}
	}
}