<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Reverte Bot - El bot resumidor que te habla de usted.</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
		<div class="main">
			<img class="face" src="/static/error.png"/>
			<div class="info">
				<h1>Opss... Vaya!</h1>
				<h3>Ha habido un error y Reverte Bot no se ha podido instalar correctamente.</h3>
				<p>"Sin nada mas que decir, y pidiendo perdón, le envio un cordial saludo"</p>
				<span class="credits">Crafted with <span class="hearth">♥</span> for Labs | BEEVA.</span>
			</div>
		</div>
	</body>
</html>