{% extends "layout.html" %}

{% block content %}
<div class="main">
	<img class="face" src="/static/images/error.png"/>
	<div class="info">
		<h1>No estas autenticado!</h1>
		<h3>Accede con tu cuenta y podrás ver un resumen de todo lo que han mandado en tu Slack.</h3>
		<a href="https://slack.com/oauth/authorize?scope={{ scope }}&client_id={{ client_id }}&redirect_uri={{ redirect }}"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

		<span class="credits">Crafted with <span class="hearth">♥</span> for Labs | BEEVA.</span>
	</div>
</div>
{% endblock %}