<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Reverte Bot - El bot resumidor que te habla de usted.</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style.css"/>
	</head>
	<body>
		<div class="main">
			<div class="info">
				<h1>Newsletter</h1>
				<span class="credits">Crafted with <span class="hearth">♥</span> for Labs | BEEVA.</span>
			</div>
		</div>
	</body>
</html>