{% extends "layout.html" %}
{% block content %}
	{% include "header.html" %}
	<article class="read-link">
		<header class="link-header">
			<h1 class="link-title">{{ link.title }}</h1>
			<span class="link-tags"><i class="fa fa-tags" aria-hidden="true"></i> {{ ", ".join(link.keywords) }}</span>
			<span class="link-author"><i class="fa fa-user" aria-hidden="true"></i> {{ link.author.name | capitalize }} en {{ link.channel.name }}</span>
		</header>
		{% for paragraph in link.summary %}
		<p>{{ paragraph }}</p>
		{% endfor %}

		<footer class="link-footer">
			<a class="link-original" href="{{ link.url }}" target="_blank">Ver original</a>
		</footer>
	</article>
{% endblock %}